<a href="https://colab.research.google.com/github/UdayMekaa/Loan-Risk-Approval-Analysis-Project-sql-python-tableau/blob/main/Loan_Risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("/content/Loan.csv")
df.info()
df.describe(include="all")

In [ ]:
df.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11.0,126928.0,0.199652,0.227590,419.805992,0.181077,0.0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3.0,43609.0,0.207045,0.201077,794.054238,0.389852,0.0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6.0,5205.0,0.217627,0.212548,666.406688,0.462157,0.0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5.0,99452.0,0.300398,0.300911,1047.506980,0.313098,0.0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5.0,227019.0,0.197184,0.175990,330.179140,0.070210,1.0,36.0

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [ ]:
num_cols = df.select_dtypes(include='number').columns
cat_cols = df.select_dtypes(exclude='number').columns

df[num_cols] = df[num_cols].fillna(df[num_cols].median())
df[cat_cols] = df[cat_cols].fillna("unknown")

In [ ]:
# Example: convert date
df['applicationdate'] = pd.to_datetime(df['applicationdate'], errors='coerce')

# Example: convert numeric-like strings
df['loanamount'] = pd.to_numeric(df['loanamount'], errors='coerce')

In [ ]:
df = df.drop_duplicates()

In [ ]:
q_low = df['loanamount'].quantile(0.01)
q_high = df['loanamount'].quantile(0.99)
df['loanamount'] = df['loanamount'].clip(q_low, q_high)

In [ ]:
df['employmentstatus'] = df['employmentstatus'].str.lower().str.strip()

In [ ]:
df['income_to_loan_ratio'] = df['annualincome'] / df['loanamount']
df['age_bucket'] = pd.cut(df['age'], bins=[0,25,35,45,55,65,120],
                          labels=["<25","25-34","35-44","45-54","55-64","65+"])

In [ ]:
df.isna().sum()

In [ ]:
df.to_csv("Loan_clean.csv", index=False)